body {
  font-family: 'cabin';
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  color: #000000;
  padding: 20px;
  border: none;
  outline: none;
  overflow: auto;
  resize: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

#confirmation-message {
  font-family: 'Orbitron';
  padding-top: 10px;
  font-size: 24px;
}

.timeblock {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid gray;
  margin-bottom: 20px;
  padding: 0 10px;
  border-radius: 45px;
}

.timeblock .time {
  width: 15%;
  font-size: 1em;
  text-align: center;
  font-family: 'Orbitron';
}

.timeblock .scheduleInput {
  width: 70%;
  font-size: 0.8em;
}

.timeblock img {
  width: 15%;
  height: 30px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* save button styling */

button span {
  position: relative;
  z-index: 1;
}

button {
  align-items: center;
  border: 2px solid #111;
  border-radius: 45px;
  color: #111;
  display: flex;
  font-family: 'Orbitron';
  font-size: 16px;
  height: 48px;
  justify-content: center;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: crosshair;
  background-color: #26ff00;outline: none;
}

button:active {
  background-color: #26ff00;
  outline: none;
  cursor: crosshair;
  padding: 8px 13px 6px;
}

button:focus {
  outline: none;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}